@font-face{
	font-family: 'Avenir';
	src: url('fonts/Avenir.otf');
}
@font-face{
	font-family: 'Inter';
	src: url('fonts/Inter.ttf');
}
@font-face{
	font-family: 'os';
	src: url('fonts/os.ttf');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-display: swap;
}
body {
	height: 100vh;
	font-family: 'Inter';
	background-color: white;
	overflow-x: hidden;
}		
.navbar{
	display:flex;
	flex-direction:row;
	justify-content: space-evenly;
	align-items:center;
	position:fixed;
	z-index:5;
	background-color:#591C21;
	color:white;
	width:100vw;
	height: 10vh;
}
.navbar .nav-profile{
	position:relative;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items:center;
	width:fit-content;
}
.navbar .nav-profile *{
	margin:0 10;
}
.navbar .nav-profile img{
	transition:0.3s;
	cursor:pointer;
}
.navbar .nav-profile img:hover{
	box-shadow: 0px 0px 0px 3px rgba(150, 150, 150, 0.8);
	transition:0.3s;
}
.navbar a{
	align-items: center;
	appearance: none;
	background-color: #fff;
	border-radius: 24px;
	border-style: none;
	box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
	box-sizing: border-box;
	color: #3c4043;
	cursor: pointer;
	display: inline-flex;
	fill: currentcolor;
	font-family: 'os';
	font-size: 14px;
	font-weight: 500;
	height: 48px;
	justify-content: center;
	letter-spacing: .25px;
	line-height: normal;
	max-width: 100%;
	overflow: visible;
	padding: 2px 24px;
	position: relative;
	text-align: center;
	text-transform: none;
	transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
	user-select: none;
	-webkit-user-select: none;
	width: auto;
	will-change: transform,opacity;
	z-index: 0;
	text-decoration: none;
}
.navbar a:hover{
	background: #F6F9FE;
	color: #174ea6;
}
.navbar a:active {
	box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
	outline: none;
}
#nav-list{
	display:none;
	position:absolute;
	flex-direction:column;
	top:60px;
	background-color:#222;
	padding:20px 0px;
	padding-right:5px;
	width:fit-content;
	border-radius:5px;
}
#nav-list > *{
	padding:10px 5px;
	width:92%;
	transition:0.1s;
}
#nav-list div:hover{
	cursor:pointer;
	background-color:#ccca;
	border-radius:2px;
	transition:0.1s;
}
#nav-list p{
	font-family:'os';
	font-size:12px;
	font-weight:light;
}
.container {
	display: flex;
	flex-direction: column;
}
.box1 {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight:bolder;
	letter-spacing:1px;
	font-size: 2.2em;
}
.box1 video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: 1;
}
.overlay {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);
}
.overlay img {
	display: block;
	margin: -30px auto 20px;
	width:111px;
	height:130px;
	padding: 10px 0;
}
.overlay p{
	text-align:center;
	word-break: break;
}
.box2 {
	min-height: 100vh;
	height:fit-content;
	width: 100vw;
	color: white;
	font-size: 2em;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	background-color:#044040;
}
.box2 div h1{
	margin-top:20px;
	letter-spacing: 2px;
	font-weight: bolder;
	font-size: larger;
	font-family:Georgia, 'Times New Roman', Times, serif;
	text-shadow: 2px 2px#044040;
	font-style:italic;
}
.box2 div p {
	margin-bottom:20px;
	color: azure;
	padding-top: 15px;
	font-weight: 400;
	font-family: 'os', Arial, sans-serif;
	text-align:center;
	text-shadow: 2px 2px#044040;
	font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight:400;
}
.box2-child {
	display: flex;
	flex-direction:column;
	max-width:75vw;
	min-width:75vw;
	height:fit-content;
	margin-top:40px;
	padding-bottom:30px;
	flex-wrap: wrap;
	gap: 10px;
	text-align:center;
	background-color:#591C21;
}
.images-box2{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	gap:10px;
	justify-content:center;
}
.image-container {
	position: relative;
	overflow: hidden;
}
.responsive-image {
	width: fit-content;
	height: 200px;
}
.image-button {
	font-family:'Avenir';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 20px;
	background-color: rgba(255, 255, 255, 0.8);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s ease;
}
.image-container:hover .image-button {
	opacity: 1;
}
.image-button{
	background-color: #591C21;
	color:rgb(204, 153, 12);
	font-family:Cambria;
}
.image-container img{
	transition:0.5s;
}
.image-container:hover img{
	transform: scale(1.2);
	opacity:0.6;
	transition:0.5s;
}
.box3 {
	width: 100vw; 
	height: 100vh;
	display: flex; 
	justify-content: center; 
	align-items: center; 
	font-size: 2em;
	gap: 20px;
	padding: 20px 0;
	background-color:#044040;
}
.container-box3{
	width: fit-content; 
	height: fit-content; 
	box-shadow: 3px 1px 3px #591C21;
	background-color:#591C21;
	display: flex; 
	flex-direction: column; 
	font-size: 1em;
	gap: 20px;
	padding: 2rem;
	text-align:center;
}
.images-box3{
	display:flex;
	flex-direction:row;
}
.image-wrapper {
	margin: 0 20px; 
	padding:20px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.circle-image {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	object-fit: cover;
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 20px;
	background-color:#591C21;
	color:#D7C9AA;
	font-size: 2.2em;
	height:fit-content;
}

.footer .about {
	flex: 1;
	padding-right: 20px;
	color:#D7C9AA;
	font-family: 'os', Cochin, Georgia, Times, 'Times New Roman', serif;
}
fieldset{
	padding: 1.5em;
	height: 400px;
	overflow: hidden;
	width: 100%;
}
.footer .social-media {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: 'os', Cochin, Georgia, Times, 'Times New Roman', serif;
}
.social-media fieldset div {
	display: flex;
	align-items: center;
}
.social-media fieldset div:not(:last-child) {
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}
.social-media a {
	text-decoration: none;
	color: #D7C9AA;
}
.copyright {
	text-align: center;
	font-size: 0.9em;
	background-color:#044040;
	color: azure;
	border-top: 1px solid #fff;
	padding-top: 10px;
    font-weight:bolder;
	padding-bottom: 0;
}
.description {
	text-align: center;
	color: rgb(180, 149, 62);
	margin: 20px 0;
	z-index: 3;
	position: relative;
	padding: 15px;
	font-family: 'os', Times, serif;
}
