body{
	background: -webkit-linear-gradient(left, #7f2a3c, #DEA47E);
}
.login {
	height:100vh;
	padding: 3%;
	border-radius: 10px;
	width:100%;
}
.login-left {
	text-align: center;
	color: #dce3b9;
	margin-top:5%;
}
.login-left img {
	margin-top: 15%;
	margin-bottom: 5%;
	width: 50%;
	-webkit-animation: mover 2s infinite alternate;
	animation: mover 1s infinite alternate;
}
.login-left h3 {
	font-size: 24px;
	font-weight: bold;
}
.login-left p {
	font-size: 16px;
	font-weight: lighter;
	margin-top: 20px;
}
.login-left input {
	border: none;
	border-radius: 1.5rem;
	padding: 10px;
	width: 80%;
	background: #81ADC8;
	font-weight: bold;
	color: #383d41;
	margin-top: 40px;
	margin-bottom:40px;
	cursor: pointer;
	box-shadow:0px 0px 5px black;
}
.login-right {
	padding: 5%;
	box-shadow:0px 0px 5px #383d41;
	border-radius:5px;
}
@-webkit-keyframes mover {
	0% { transform: translateY(0); }
	100% { transform: translateY(-20px); }
}
@keyframes mover {
	0% { transform: translateY(0); }
	100% { transform: translateY(-20px); }
}
.login-heading {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 28px;
	color: #495057;
}
.login-form {
	padding: 10%;
	margin-top: 10%;
}
.form-group {
	margin-bottom: 1.5rem;
}
.btnLogin {
	width: 100%;
	border: none;
	border-radius: 1.5rem;
	padding: 10px;
	background: #81ADC8;
	color: #383d41;
	font-weight: 600;
	cursor: pointer;
}
.socials{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.element{
	flex:1;
	margin:12px;
}