@font-face{
	font-family: 'os';
	src: url('fonts/os.ttf');
}
body{
    background: #591C21;
}
.register{
    padding: 3%;
    height:100vh;

}
.register-left{
text-align: center;
color: #dce3b9;
font-weight:bold;
margin-top: 4%;
}
.register-left input{
border: none;
border-radius: 1.5rem;
padding: 10px;
width: 80%;
background: #81ADC8;
font-family:'os';
font-weight: light;
color: #383d41;
margin-top: 30%;
margin-bottom: 3%;
cursor: pointer;
box-shadow:0px 0px 5px black;
}
.register-right{
box-shadow:0px 0px 4px 2px azure;
background-color:#044040;
}
.register-left img{
margin-top: 15%;
margin-bottom: 5%;
width: 70%;
-webkit-animation: mover 2s infinite alternate;
animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
0% { transform: translateY(0); }
100% { transform: translateY(-0px); }
}
@keyframes mover {
0% { transform: translateY(0); }
100% { transform: translateY(-0px); }
}
.register-left p{
font-weight: lighter;
padding: 12%;
margin-top: -9%;
}
.register .register-form{
padding: 10%;
margin-top: 10%;
}
.btnRegister{
float: right;
margin-top: 10%;
border: none;
border-radius: 1.5rem;
padding: 2%;
color: #383d41;
font-family:'os';
font-weight: light;
width: 50%;
cursor: pointer;
background-color:#81ADC8;
}
.register .nav-tabs{
margin-top: 3%;
border: none;
background: #0062cc;
border-radius: 1.5rem;
width: 28%;
float: right;
background-color:#81ADC8;
}
.register .nav-tabs .nav-link{
padding: 2%;
height: 34px;
font-weight: 600;
color: #383d41;
border-top-right-radius: 1.5rem;
border-bottom-right-radius: 1.5rem;
transition:0.5s;
}
.register .nav-tabs .nav-link:hover{
border: none;
}
.register .nav-tabs .nav-link.active {
    padding-left: 20px;  /* Adds padding to the left /
    padding-right: 20px; / Adds padding to the right */
    color: #81ADC8;
    border: 2px solid #81ADC8;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading{
text-align: center;
margin-top: 8%;
margin-bottom: -15%;
color:#F0F3F5;
}